<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>802249753504-149s7almp69tpu9pff1v02vq359bc9oh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.802249753504-149s7almp69tpu9pff1v02vq359bc9oh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>802249753504-65u9phpenk7jcns61d3povd0o9da2ruk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDsWbS2v0MPp9W6XLoR9F7j5x6kKAimwVc</string>
	<key>GCM_SENDER_ID</key>
	<string>802249753504</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.erazorPartner</string>
	<key>PROJECT_ID</key>
	<string>erazor-73960</string>
	<key>STORAGE_BUCKET</key>
	<string>erazor-73960.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:802249753504:ios:2a97501e465c816c2a5ac5</string>
</dict>
</plist>